:root {
  /* Base Colors - Light Theme */
  --paper: 48 100% 97%; /* #FFFCF0 */
  --base-50: 50.77 33% 92%; /* #F2F0E5 */
  --base-100: 50.77 21% 88%; /* #E6E4D9 */
  --base-150: 50 14% 83%; /* #DAD8CE */
  --base-200: 54.54 10% 79%; /* #CECDC3 */
  --base-300: 49.09 7% 70%; /* #B7B5AC */
  --base-400: 46.67 4% 61%; /* #9f9d96 */
  --base-500: 42.85 3% 52%; /* #878580 */
  --base-600: 50 3% 42%; /* #6F6E69 */
  --base-700: 45 2% 33%; /* #575653 */
  --base-800: 30 3% 24%; /* #403E3C */
  --base-850: 40 3% 20%; /* #343331 */
  --base-900: 30 3% 15%; /* #282726 */
  --base-950: 30 4% 11%; /* #1C1B1A */
  --black: 360 3% 6%; /* #100F0F */

  /* Accent Colors */
  --red-600: 3.13 62% 42%;
  --red-400: 5 61% 64%;
  --orange-600: 21.92 80% 41%;
  --orange-400: 23.45 70% 51%;
  --yellow-600: 45.36 99% 34%;
  --yellow-400: 45.24 82% 45%;
  --green-600: 73.33 84% 27%;
  --green-400: 71.75 46% 41%;
  --cyan-600: 174.94 57% 33%;
  --cyan-400: 174.6 49% 44%;
  --blue-600: 212.24 68% 39%;
  --blue-400: 207.81 49% 50%;
  --purple-600: 259.36 42% 43%;
  --purple-400: 250.55 40% 64%;
  --magenta-600: 326.02 55% 41%;
  --magenta-400: 329.2 54% 59%;
}
