@import "tailwindcss";
@import "./shadcn.css";
@import "uploadthing/tw/v4";

/* this is breaking animations like animate-spin */
/* @plugin '@midudev/tailwind-animations'; */
@source '../../../node_modules/@uploadthing/react/dist';

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-success: hsl(var(--success));
  --color-success-foreground: hsl(var(--success-foreground));
  --color-warning: hsl(var(--warning));
  --color-warning-foreground: hsl(var(--warning-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-radius: var(--radius);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --color-book: hsl(var(--book));

  --color-flexoki-red: hsl(var(--flexoki-red));
  --color-flexoki-orange: hsl(var(--flexoki-orange));
  --color-flexoki-yellow: hsl(var(--flexoki-yellow));
  --color-flexoki-green: hsl(var(--flexoki-green));
  --color-flexoki-blue: hsl(var(--flexoki-blue));
  --color-flexoki-purple: hsl(var(--flexoki-purple));
  --color-flexoki-pink: hsl(var(--flexoki-pink));
  --color-flexoki-gray: hsl(var(--flexoki-gray));
  --color-flexoki-black: hsl(var(--flexoki-black));
  --color-flexoki-white: hsl(var(--flexoki-white));
}

div[data-clerk-component="UserButton"] {
  width: 100%;
}

div[data-clerk-component="UserButton"] > button {
  width: 100%;
  color: var(--color-foreground);
  padding: 0.25rem 0.5rem;
}

div[data-clerk-component="UserButton"] > button:hover {
  background-color: var(--color-muted);
}

div[data-clerk-component="UserButton"] > button > span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  gap: 0;
}

div[data-clerk-component="UserButton"]
  > button
  > span
  > .cl-userButtonOuterIdentifier {
  margin-left: 0;
}
