@import "tailwindcss";
@import "./shadcn.css";
@import "uploadthing/tw/v4";

/* this is breaking animations like animate-spin */
/* @plugin '@midudev/tailwind-animations'; */
@source '../../../node_modules/@uploadthing/react/dist';

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-success: hsl(var(--success));
  --color-success-foreground: hsl(var(--success-foreground));
  --color-warning: hsl(var(--warning));
  --color-warning-foreground: hsl(var(--warning-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-radius: var(--radius);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --color-book: hsl(var(--book));

  --color-flexoki-red: hsl(var(--flexoki-red));
  --color-flexoki-orange: hsl(var(--flexoki-orange));
  --color-flexoki-yellow: hsl(var(--flexoki-yellow));
  --color-flexoki-green: hsl(var(--flexoki-green));
  --color-flexoki-blue: hsl(var(--flexoki-blue));
  --color-flexoki-purple: hsl(var(--flexoki-purple));
  --color-flexoki-pink: hsl(var(--flexoki-pink));
  --color-flexoki-gray: hsl(var(--flexoki-gray));
  --color-flexoki-black: hsl(var(--flexoki-black));
  --color-flexoki-white: hsl(var(--flexoki-white));

  /* Base Colors */
  --color-paper: #fffcf0;
  --color-base-50: #f2f0e5;
  --color-base-100: #e6e4d9;
  --color-base-150: #dad8ce;
  --color-base-200: #cecdc3;
  --color-base-300: #b7b5ac;
  --color-base-400: #9f9d96;
  --color-base-500: #878580;
  --color-base-600: #6f6e69;
  --color-base-700: #575653;
  --color-base-800: #403e3c;
  --color-base-850: #343331;
  --color-base-900: #282726;
  --color-base-950: #1c1b1a;
  --color-black: #100f0f;

  /* Red */
  --color-red-50: #ffe1d5;
  --color-red-100: #ffcabb;
  --color-red-150: #fdb2a2;
  --color-red-200: #f89a8a;
  --color-red-300: #e8705f;
  --color-red-400: #d14d41;
  --color-red-500: #c03e35;
  --color-red-600: #af3029;
  --color-red-700: #942822;
  --color-red-800: #6c201c;
  --color-red-850: #551b18;
  --color-red-900: #3e1715;
  --color-red-950: #261312;

  /* Orange */
  --color-orange-50: #ffe7ce;
  --color-orange-100: #fed3af;
  --color-orange-150: #fcc192;
  --color-orange-200: #f9ae77;
  --color-orange-300: #ec8b49;
  --color-orange-400: #da702c;
  --color-orange-500: #cb6120;
  --color-orange-600: #bc5215;
  --color-orange-700: #9d4310;
  --color-orange-800: #71320d;
  --color-orange-850: #59290d;
  --color-orange-900: #40200d;
  --color-orange-950: #27180e;

  /* Yellow */
  --color-yellow-50: #faeec6;
  --color-yellow-100: #f6e2a0;
  --color-yellow-150: #f1d67e;
  --color-yellow-200: #eccb60;
  --color-yellow-300: #dfb431;
  --color-yellow-400: #d0a215;
  --color-yellow-500: #be9207;
  --color-yellow-600: #ad8301;
  --color-yellow-700: #8e6b01;
  --color-yellow-800: #664d01;
  --color-yellow-850: #503d02;
  --color-yellow-900: #3a2d04;
  --color-yellow-950: #241e08;

  /* Green */
  --color-green-50: #edeecf;
  --color-green-100: #dde2b2;
  --color-green-150: #cdd597;
  --color-green-200: #bec97e;
  --color-green-300: #a0af54;
  --color-green-400: #879a39;
  --color-green-500: #768d21;
  --color-green-600: #66800b;
  --color-green-700: #536907;
  --color-green-800: #3d4c07;
  --color-green-850: #313d07;
  --color-green-900: #252d09;
  --color-green-950: #1a1e0c;

  /* Cyan */
  --color-cyan-50: #ddf1e4;
  --color-cyan-100: #bfe8d9;
  --color-cyan-150: #a2dece;
  --color-cyan-200: #87d3c3;
  --color-cyan-300: #5abdac;
  --color-cyan-400: #3aa99f;
  --color-cyan-500: #2f968d;
  --color-cyan-600: #24837b;
  --color-cyan-700: #1c6c66;
  --color-cyan-800: #164f4a;
  --color-cyan-850: #143f3c;
  --color-cyan-900: #122f2c;
  --color-cyan-950: #101f1d;

  /* Blue */
  --color-blue-50: #e1eceb;
  --color-blue-100: #c6dde8;
  --color-blue-150: #abcfe2;
  --color-blue-200: #92bfdb;
  --color-blue-300: #66a0c8;
  --color-blue-400: #4385be;
  --color-blue-500: #3171b2;
  --color-blue-600: #205ea6;
  --color-blue-700: #1a4f8c;
  --color-blue-800: #163b66;
  --color-blue-850: #133051;
  --color-blue-900: #12253b;
  --color-blue-950: #101a24;

  /* Purple */
  --color-purple-50: #f0eaec;
  --color-purple-100: #e2d9e9;
  --color-purple-150: #d3cae6;
  --color-purple-200: #c4b9e0;
  --color-purple-300: #a699d0;
  --color-purple-400: #8b7ec8;
  --color-purple-500: #735eb5;
  --color-purple-600: #5e409d;
  --color-purple-700: #4f3685;
  --color-purple-800: #3c2a62;
  --color-purple-850: #31234e;
  --color-purple-900: #261c39;
  --color-purple-950: #1a1623;

  /* Magenta */
  --color-magenta-50: #fee4e5;
  --color-magenta-100: #fccfda;
  --color-magenta-150: #f9b9cf;
  --color-magenta-200: #f4a4c2;
  --color-magenta-300: #e47da8;
  --color-magenta-400: #ce5d97;
  --color-magenta-500: #b74583;
  --color-magenta-600: #a02f6f;
  --color-magenta-700: #87285e;
  --color-magenta-800: #641f46;
  --color-magenta-850: #4f1b39;
  --color-magenta-900: #39172b;
  --color-magenta-950: #24131d;

  /* Amber */
  --color-amber-50: #fff1d8;
  --color-amber-100: #ffe8c8;
  --color-amber-150: #ffe0b8;
  --color-amber-200: #ffd8a8;
  --color-amber-300: #ffd098;
  --color-amber-400: #ffca88;
  --color-amber-500: #ffc278;
  --color-amber-600: #ffb768;
  --color-amber-700: #e6a166;
  --color-amber-800: #cc8c52;
  --color-amber-850: #b37b44;
  --color-amber-900: #99693a;
  --color-amber-950: #805532;

  /* Lime */
  --color-lime-50: #f4f6d7;
  --color-lime-100: #e9edbf;
  --color-lime-150: #dee3a7;
  --color-lime-200: #d3d98f;
  --color-lime-300: #c8cf77;
  --color-lime-400: #bdb55f;
  --color-lime-500: #b2ab47;
  --color-lime-600: #a79e30;
  --color-lime-700: #8f851f;
  --color-lime-800: #776b18;
  --color-lime-900: #5e5312;
  --color-lime-950: #483e0d;

  /* Emerald */
  --color-emerald-50: #e6f7f0;
  --color-emerald-100: #d0eedc;
  --color-emerald-150: #b9e4c7;
  --color-emerald-200: #a3dab3;
  --color-emerald-300: #8cd09f;
  --color-emerald-400: #76c68b;
  --color-emerald-500: #5fbc77;
  --color-emerald-600: #4ea362;
  --color-emerald-700: #418b53;
  --color-emerald-800: #357045;
  --color-emerald-900: #295636;
  --color-emerald-950: #1d3d28;

  /* Teal */
  --color-teal-50: #e2f7f6;
  --color-teal-100: #c5efef;
  --color-teal-150: #a8e7e8;
  --color-teal-200: #8bdfe1;
  --color-teal-300: #6ed7da;
  --color-teal-400: #51cfd3;
  --color-teal-500: #34c7cc;
  --color-teal-600: #2ba9b8;
  --color-teal-700: #238a9f;
  --color-teal-800: #1b6b85;
  --color-teal-900: #144a6c;
  --color-teal-950: #0d324f;

  /* Sky */
  --color-sky-50: #e4f5ff;
  --color-sky-100: #c9ebff;
  --color-sky-150: #aed1ff;
  --color-sky-200: #92b7ff;
  --color-sky-300: #779dff;
  --color-sky-400: #5c83ff;
  --color-sky-500: #4179ff;
  --color-sky-600: #3768e6;
  --color-sky-700: #2d57cc;
  --color-sky-800: #2446b3;
  --color-sky-900: #1a3599;
  --color-sky-950: #122a7a;

  /* Indigo */
  --color-indigo-50: #ecebff;
  --color-indigo-100: #d8d5ff;
  --color-indigo-150: #c4bfff;
  --color-indigo-200: #b0aaff;
  --color-indigo-300: #9c95ff;
  --color-indigo-400: #887fff;
  --color-indigo-500: #746aff;
  --color-indigo-600: #6359e6;
  --color-indigo-700: #5248cc;
  --color-indigo-800: #4137b3;
  --color-indigo-900: #312699;
  --color-indigo-950: #261f7a;

  /* Violet */
  --color-violet-50: #f4efff;
  --color-violet-100: #e8dfff;
  --color-violet-150: #dcceff;
  --color-violet-200: #d0beff;
  --color-violet-300: #c4aeff;
  --color-violet-400: #b89eff;
  --color-violet-500: #ac8eff;
  --color-violet-600: #9e7ee6;
  --color-violet-700: #916ecc;
  --color-violet-800: #8460b3;
  --color-violet-900: #775299;
  --color-violet-950: #694a7a;

  /* Fuchsia */
  --color-fuchsia-50: #fee7f9;
  --color-fuchsia-100: #fdcff2;
  --color-fuchsia-150: #fbb7eb;
  --color-fuchsia-200: #f99fe4;
  --color-fuchsia-300: #f787dd;
  --color-fuchsia-400: #f56fd6;
  --color-fuchsia-500: #f357cf;
  --color-fuchsia-600: #da4db8;
  --color-fuchsia-700: #c043a0;
  --color-fuchsia-800: #a63988;
  --color-fuchsia-900: #8d2f70;
  --color-fuchsia-950: #722658;

  /* Pink */
  --color-pink-50: #fde6ef;
  --color-pink-100: #fbd0db;
  --color-pink-150: #f9b9c7;
  --color-pink-200: #f7a3b3;
  --color-pink-300: #f5899f;
  --color-pink-400: #f36c8b;
  --color-pink-500: #f14f77;
  --color-pink-600: #d94365;
  --color-pink-700: #b93854;
  --color-pink-800: #993144;
  --color-pink-900: #7a2635;
  --color-pink-950: #5c1925;

  /* Rose */
  --color-rose-50: #ffe4e7;
  --color-rose-100: #ffc9cf;
  --color-rose-150: #ffafb7;
  --color-rose-200: #ff95a0;
  --color-rose-300: #ff7b89;
  --color-rose-400: #ff6172;
  --color-rose-500: #ff475c;
  --color-rose-600: #e33c52;
  --color-rose-700: #c13148;
  --color-rose-800: #a1263e;
  --color-rose-900: #831b34;
  --color-rose-950: #69102a;

  /* Slate */
  --color-slate-50: #f4f5f7;
  --color-slate-100: #e2e4e8;
  --color-slate-150: #d0d1d5;
  --color-slate-200: #c0c1c3;
  --color-slate-300: #afafb0;
  --color-slate-400: #9f9e9f;
  --color-slate-500: #8f8e8e;
  --color-slate-600: #7f7e7e;
  --color-slate-700: #6f6d6d;
  --color-slate-800: #5f5c5c;
  --color-slate-850: #555252;
  --color-slate-900: #4a4747;
  --color-slate-950: #3f3c3c;

  /* Gray */
  --color-gray-50: #f0f0f0;
  --color-gray-100: #e0e0e0;
  --color-gray-150: #d0d0d0;
  --color-gray-200: #c0c0c0;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #a0a0a0;
  --color-gray-500: #909090;
  --color-gray-600: #808080;
  --color-gray-700: #707070;
  --color-gray-800: #606060;
  --color-gray-850: #565656;
  --color-gray-900: #4a4a4a;
  --color-gray-950: #3e3e3e;

  /* Zinc */
  --color-zinc-50: #fbf9f7;
  --color-zinc-100: #f6f3f1;
  --color-zinc-150: #f1eceb;
  --color-zinc-200: #e8e2df;
  --color-zinc-300: #dfd8d3;
  --color-zinc-400: #d6cec7;
  --color-zinc-500: #cdc4bb;
  --color-zinc-600: #c4bab0;
  --color-zinc-700: #bab0a4;
  --color-zinc-800: #b1a69a;
  --color-zinc-900: #a89c90;
  --color-zinc-950: #9f9286;

  /* Neutral */
  --color-neutral-50: #f8f8f8;
  --color-neutral-100: #f1f1f1;
  --color-neutral-150: #eaeaea;
  --color-neutral-200: #dadada;
  --color-neutral-300: #c3c3c3;
  --color-neutral-400: #acacac;
  --color-neutral-500: #959595;
  --color-neutral-600: #7e7e7e;
  --color-neutral-700: #676767;
  --color-neutral-800: #505050;
  --color-neutral-850: #474747;
  --color-neutral-900: #3a3a3a;
  --color-neutral-950: #292929;

  /* Stone */
  --color-stone-50: #f9f8f5;
  --color-stone-100: #f3f1ed;
  --color-stone-150: #edeae5;
  --color-stone-200: #e0ddd5;
  --color-stone-300: #ccc9bd;
  --color-stone-400: #b8b5a6;
  --color-stone-500: #a5a28f;
  --color-stone-600: #908f78;
  --color-stone-700: #7b7c61;
  --color-stone-800: #67664b;
  --color-stone-850: #5d5b40;
  --color-stone-900: #525137;
  --color-stone-950: #3f3d2c;
}
